<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Krupa's Foods.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C24C31882C3D038600C3187D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24C31992C3D038800C3187D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24C31A32C3D038800C3187D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
